.btn-secondary {
  color: #fff !important;
}
.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  min-height: 420px;
  min-width: 250px;
}

img {
  width: 100%;
}

.logo {
  width: 80px;
  border-radius: 50%
}

.navbar {
  opacity: 0.9;
  text-transform: uppercase;
  /* background-color: rgba(191, 39, 21, 0.95) !important */
}

.social a {
  margin-right: 0.4rem;
}

#showcase {
  background: url(../img/showcase.jpg) no-repeat top center fixed/cover;
  position: relative;
  min-height: 650px;
  color: #fff;
  padding-top: 6rem;
}

#BoxShowcase {
  /* for animation */
  /* opacity: 0; */
}

#showcase .home-search {
  min-height: 400px;
  position: relative;
  border-radius: 5px;
}

#showcase .overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px;
  width: 100%;
  background: rgba(51, 51, 51, 0.8);
}

#services {
  background: url(../img/building.jpg) no-repeat top center fixed/cover;
  min-height: 300px;
  position: relative;
  overflow: hidden;
}

#services::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background: rgba(32, 134, 107, 0.8);
}

#showcase-inner {
  background: url(../img/building.jpg) no-repeat top center fixed/cover;
  position: relative;
  overflow: hidden;
  min-height: 200px;
}

#showcase-inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background: rgba(32, 134, 107, 0.8);
}

#showcase-inner.showcase-search {
  min-height: 270px;
}

#work {
  padding: 6rem 0;
}

.listing-preview a {
  position: relative;
}
.listing-preview {
  max-width: 300px;
}

@media (max-width: 991px) {
  #showcase {
    padding-top: 4rem;
  }

  #showcase h1 {
    font-size: 40px;
  }

  .hide-md-down {
    display: none;
  }
}

@media (max-width: 768px) {
  #showcase {
    padding-top: 3rem;
  }

  #showcase h1 {
    font-size: 40px;
  }

  #showcase p {
    display: none;
  }

  #top-bar {
    text-align: center;
  }

  #top-bar .social {
    text-align: center !important;
  }
}

/* Mobile */
@media (max-width: 576px) {
  #showcase h1 {
    font-size: 30px;
  }

  #showcase-inner h1 {
    font-size: 40px;
  }
  .card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    min-height: 390px;
    min-width: 250px;
  }
}

/* For a specific mobile of width 425px
    Los estilos que se apliquen a partir de 425px esa 
    es la diferencia de Min y max. En max se aplican
    todos los estilos hasta <x Pixeles> 
*/
@media (min-width: 425px) and (max-width: 600px) {
  .listing-preview {
    margin-left: 50px;
    /* margin: auto;
    width: 50%; */ /* Centralized something */
  }
}
